@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.global_fonts{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.roboto_condensed{
    font-family: 'Roboto Condensed', sans-serif;
}

#global.dark{
    min-height: 100vh;
    background: #0F1110;
}

.header_global {
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    padding: 16px 0;
    position: fixed;
    display: flex;
    align-items: center;
    background: #171918;
    border-bottom: 1px solid #202322;
}

.header_global .logo{
    width: 19.5%;
    padding: 0 16px;
    min-width: 280px;
    max-width: 280px;
}

.header_global .logo h2{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 16px;
    letter-spacing: -0.04em;
}

.header_global .logo h2 span{
    display: block;
    font-weight: 700;
}

.header_global .account{
    width: 80.5%;
    display: flex;
    padding: 0 24px;
    align-items: center;
    justify-content: space-between;
}

.header_global .user{
    display: flex;
    align-items: center;
}

.header_global .user span{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 16px;
    display: inline-block;
    letter-spacing: -0.04em;
}

.header_global .user a {
    opacity: 0.4;
    margin-left: 8px;
    display: inline-block;
    transition: all 0.3s;
}

.header_global .user a:hover{
    opacity: 1;
}

.header_global .user a img{
    display: block;
}

.header_global .settings{
    display: flex;
    align-items: center;
}

.header_global .settings a{
    width: 24px;
    display: block;
    margin-left: 32px;
}

.header_global .settings .share{
    opacity: 0.4;
    transition: all 0.3s;
}

.header_global .settings .share:hover{
    opacity: 1;
}

.header_global .settings .menu{
    opacity: 0.4;
    transition: all 0.3s;
}

.header_global .settings .menu:hover{
    opacity: 1;
}

.header_global .settings img{
    width: 100%;
    display: block;
}

#global .flex.overflow-hidden.relative{
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #0F1110;
}

#global .dark.hidden.flex-shrink-0.bg-gray-900 {
    width: 19.5%;
    height: 100vh;
    max-width: 280px;
    min-width: 280px;
    max-height: 100vh;
    padding: 89px 0 24px;
    background: #171918;
}

#global .space-y-1{
    width: 100%;
    padding: 0 16px;
}

#global .flex.py-3.px-3.items-center.gap-3.rounded-md.transition-colors.duration-200.text-white.cursor-pointer.text-sm.mb-1.flex-shrink-0.border{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    color: #0F1110;
    line-height: 18px;
    padding: 15px 15px;
    border-radius: 8px;
    margin-bottom: 24px;
    align-items: center;
    transition: all 0.3s;
    background: #B4F573;
    letter-spacing: -0.04em;
    justify-content: center;
    border: 1px solid #B4F573;
}

#global .flex.py-3.px-3.items-center.gap-3.rounded-md.transition-colors.duration-200.text-white.cursor-pointer.text-sm.mb-1.flex-shrink-0.border:hover{
    color: #B4F573;
    background: transparent;
}

#global .flex.py-3.px-3.items-center.gap-3.rounded-md.transition-colors.duration-200.text-white.cursor-pointer.text-sm.mb-1.flex-shrink-0.border svg{
    width: 16px;
    height: 16px;
    margin-right: -4px;
}

#global .space-y-1 .flex-col.flex-1.overflow-y-auto.border-b{
    margin: 0 -16px;
    border-bottom: 1px solid #202322;
}

#global .space-y-1 .flex.flex-col.gap-2.text-gray-100.text-sm{
    padding: 0 16px;
}

#global .space-y-1 .items-center.gap-3.relative.rounded-md {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 18px;
    position: relative;
    margin-bottom: 5px;
    border-radius: 8px;
    align-items: center;
    letter-spacing: -0.04em;
    padding: 13px 40px 14px 35px;
}

#global .space-y-1 .items-center.gap-3.relative.rounded-md::after{
    content: '';
    top: 50%;
    left: 5px;
    width: 24px;
    height: 24px;
    position: absolute;
    background: url('../images/ChatTeardropDots.svg') no-repeat 50% 50%;
    background-size: cover;
    transform: translate(0, -50%);
}

#global .space-y-1 .items-center.gap-3.relative.rounded-md > svg{
    display: none;
}

#global .space-y-1 .items-center.gap-3.relative.rounded-md .z-10 {
    display: flex;
    align-items: center;
}

.absolute.flex.right-1.z-10.text-gray-300.visible {
    top: 50%;
    right: 5px;
    position: absolute;
    transform: translate(0, -50%);
}

.absolute.flex.right-1.z-10.text-gray-300.visible button {
    border: none;
    width: 18px;
    padding: 0;
    background: transparent;
}

.absolute.flex.right-1.z-10.text-gray-300.visible button svg {
    width: 100%;
}


#global .space-y-1 .items-center.gap-3.relative.rounded-md .overflow-hidden.break-all.relative{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#global .space-y-1 .items-center.gap-3.relative.rounded-md .overflow-hidden.break-all.relative div{
    display: none;
}

#global .space-y-1 .items-center.gap-3.relative.rounded-md.bg-gray-800 {
    background: #0F1110;
}

#global .flex.items-center.rounded-md.transition-colors.duration-200.text-white.cursor-pointer.text-sm{
    padding: 13px 8px 14px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 18px;
    letter-spacing: -0.04em;
    
}

#global .flex.h-full.max-w-full.flex-1.flex-col {
    width: 80.5%;
    display: flex;
    flex-direction: column-reverse;
    transition: all 0.4s;
}

#global .flex.h-full.max-w-full.flex-1.flex-col.active{
    padding-right: 280px;
}

#global .menu_content{
    right: 0;
    bottom: 0;
    width: 280px;
    position: fixed;
    overflow-x: scroll;
    padding: 24px 16px;
    border-radius: 16px;
    background: #171918;
    height: calc(100vh - 65px);
    border: 1px solid #202322;
    transform: translate(105%, 0);
    transition: all 0.3s;
}

#global .menu_content.active{
    transform: translate(0, 0);
}

#global .menu_content form{
    position: relative;
    margin-bottom: 24px;
}

#global .menu_content form input{
    z-index: 1;
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 18px;
    position: relative;
    border-radius: 8px;
    background: #171918;
    letter-spacing: -0.04em;
    border: 1px solid #202322;
    padding: 10px 20px 10px 48px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#global .menu_content form button{
    top: 50%;
    left: 10px;
    z-index: 3;
    width: 24px;
    height: 24px;
    position: absolute;
    transform: translate(0, -50%);
}

#global .menu_content .categories li{
    padding: 8px 0;
    flex-wrap: wrap;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 18px;
    position: relative;
    align-items: center;
    letter-spacing: -0.04em;
}

#global .menu_content .categories li::after{
    content: '';
    top: 50%;
    right: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    background: url('../images/CaretDown.svg') no-repeat 50% 50%;
    background-size: cover;
    transform: translate(0, -50%);
    transition: all 0.3s;
}

#global .menu_content .categories li.active::after{
    transform: translate(0, -50%) rotate(180deg);
}

#global .menu_content .categories .items li::after{
    top: 8px;
    width: 16px;
    height: 16px;
    transform: translate(0, 0);
}

#global .menu_content .categories .items li{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-left: 16px;
    flex-direction: row;
}

#global .menu_content .categories .items span{
    left: 0;
    top: 14px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;   
}

#global .menu_content .categories .items li .story_content{
    padding-top: 14px;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
}

#global .menu_content .categories .items li .story_content div {
    width: 48%;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    background: #202322;
    border: 1px solid #202322;
}

#global .menu_content .categories .items li .story_content div p{
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

#global .menu_content .categories .items li .story_content_liner{
    padding-top: 14px;
}

#global .menu_content .categories .items li .story_content_liner div {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    background: #202322;
    border: 1px solid #202322;
}

#global .menu_content .categories .items li .story_content_liner h4{
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 15px;
    margin-bottom: 4px;
    letter-spacing: -0.04em;
}

#global .menu_content .categories .items li .story_content_liner div p{
    font-size: 10px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    display: -moz-box;
    margin-bottom: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

#global .menu_content .categories .items li .story_content_liner div .icon_top{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

#global .menu_content .categories .items li .story_content_liner div .icon_top i{
    display: flex;
    margin-right: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    align-items: center;
}

#global .menu_content .categories .items li .story_content_liner div .icon_top i img{
    width: 12px;
    display: block;
    margin-right: 4px;
}

#global .menu_content .categories li img{
    width: 24px;
    margin-right: 8px;
}

#global .menu_content .favourites {
    margin-bottom: 24px;
}

#global .menu_content .favourites li{
    padding: 8px 0;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 18px;
    position: relative;
    align-items: center;
    letter-spacing: -0.04em;
}

#global .menu_content .favourites li::after{
    content: '';
    top: 50%;
    right: 0;
    width: 24px;
    height: 24px;
    position: absolute;
    background: url('../images/CaretDown.svg') no-repeat 50% 50%;
    background-size: cover;
    transform: translate(0, -50%);
    transition: all 0.3s;
}

#global .menu_content .favourites li img{
    width: 24px;
    margin-right: 8px;
}

#global .menu_content .purchased_prompts {
    padding: 8px 0;
    flex-wrap: wrap;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 18px;
    position: relative;
    margin-bottom: 24px;
    align-items: center;
    letter-spacing: -0.04em;
}

#global .menu_content .purchased_prompts img{
    width: 24px;
    margin-right: 8px;
}

#global .menu_content .discover_more{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 18px;
    border-radius: 8px;
    align-items: center;
    background: #202322;
    justify-content: center;
    letter-spacing: -0.04em;
    transition: all 0.3s;
}

#global .menu_content .discover_more:hover{
    color: #202322;
    background: #FFFFFF;
}

#global .flex .dark\:bg-gray-800{
    border: none;
    background: #0F1110;
}

#global .flex .react-scroll-to-bottom--css-vobxp-79elbk.h-full.dark\:bg-gray-800{
    padding: 0 24px;
}

.from-gray-900{
    display: none;
}

#global .flex .flex-col.items-center.text-sm.dark\:bg-gray-800{
    padding: 104px 24px 0;
}

#global .stretch.mx-2.flex.flex-row.gap-3 {
    margin: 24px;
    transition: all 0.4s;
}

#global .stretch.mx-2.flex.flex-row.gap-3 .btn.relative.btn-neutral {
    height: 48px;
    padding: 0 18px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 18px;
    border-radius: 8px;
    margin-bottom: 16px;
    background: #202322;
    letter-spacing: -0.04em;
    border: 1px solid #202322;
}

#global .stretch.mx-2.flex.flex-row.gap-3 .flex-grow.relative {
    position: relative;
    padding: 19px 32px;
    border-radius: 16px;
    background: #171918;
    border: 1px solid #202322;
}

#global .stretch.mx-2.flex.flex-row.gap-3 .flex-grow.relative .prompster{
    left: 26px;
    bottom: 26px;
    display: none;
    position: absolute;
}

#global .stretch.mx-2.flex.flex-row.gap-3 .flex-grow.relative .prompster input {
    width: 280px;
    height: 40px;
    position: relative;
    border-radius: 12px;
    background: #000000;
    border: 1px solid #000;
}

#global .stretch.mx-2.flex.flex-row.gap-3 .flex-grow.relative .prompster ul.active{
    display: block;
}

#global .stretch.mx-2.flex.flex-row.gap-3 .flex-grow.relative .prompster ul{
    left: 0;
    width: 280px;
    bottom: 48px;
    padding: 10px;
    display: none;
    position: absolute;
    border-radius: 8px;
    background: #000;
}

#global .stretch.mx-2.flex.flex-row.gap-3 .flex-grow.relative .prompster ul li{
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 18px;
    padding: 6px 10px;
    letter-spacing: -0.04em;
}

#global .stretch.mx-2.flex.flex-row.gap-3 .flex-grow.relative .prompster ul li:last-child{
    border-bottom: none;
}

#global .stretch.mx-2.flex.flex-row.gap-3 .flex-grow.relative .prompster ul li:hover{
    color: #FFFFFF;
    background: #343541;
}

#global .stretch.mx-2.flex.flex-row.gap-3 .flex-grow.relative .prompster ul li:last-child{
    margin-bottom: 0;
}

#global .stretch.mx-2.flex.flex-row.gap-3 .flex-grow.relative .prompster.active{
    display: block;
}

#global .rounded-sm.text-white.flex.items-center.justify-center{
    
}

#global .text-base.gap-4.md\:gap-6 .rounded-sm{
    
}

#global .relative.transition-width .w-full.text-gray-800 .flex.flex-grow.flex-col.gap-3{
    padding: 16px 24px;
    background: #171918;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    border-radius: 0px 16px 16px 16px;
}

#global .relative.transition-width .w-full.text-gray-800 .lg\:w-\[calc\(100\%-115px\)\]{
    width: 100%;
}



#global .relative.transition-width .w-full.text-gray-800.dark\:bg-gray-800 .flex.flex-grow.flex-col.gap-3{
    color: #0F1110;
    padding: 16px 24px;
    background: #B4F573;
    border-radius: 0px 16px 16px 16px;
}

#global .stretch.mx-2.flex.flex-row.gap-3 .flex-grow.relative textarea{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 1);
}

#global .flex.justify-between.lg\:block{
    display: none;
}

#global .flex .text-center.text-xs{
    display: none;
}

#global .flex .text-gray-400.flex.self-end{
    /* display: none; */
}

#global .w-\[260px\]{
    width: 100%;
}

.flex.py-3.px-3.items-center.gap-3.relative.rounded-md.cursor-pointer.break-all.pr-14 {
    max-width: 97%;
}

#global .flex .gap-3{
    max-width: 100%;
}

#global .flex .text-base{
    max-width: 100%;
    padding-right: 50px;
}

#global .flex .bg-gray-50 {
    border: none;
    background: #0F1110;
}

#global .flex.items-center.justify-between {
    padding: 13px 8px 14px;
}

#global .flex.items-center.justify-between div{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 18px;
    letter-spacing: -0.04em;
}

#global .flex.items-center.justify-between div svg {
    width: 20px;
    margin-right: 8px;
}

#global .md\:bottom-2\.5 {
    top: 50%;
    bottom: initial;
    transform: translate(0, -50%);
}

#global .theme_settings{
    position: relative;
    padding: 13px 68px 14px 8px;
}

#global .theme_settings img{
    top: 50%;
    right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    transform: translate(0, -50%);
}



#global .theme_settings_content{
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.6);
}

#global .theme_settings_content.active{
    display: flex;
}

#global .theme_settings_content .settings_content{
    width: 592px;
    position: relative;
    border-radius: 16px;
    background: #171918;
    border-bottom: 1px solid #202322;
}

#global .theme_settings_content .close{
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

#global .theme_settings_content .settings_content form {
    margin: 16px;
    position: relative;
}

#global .theme_settings_content .settings_content form input{
    z-index: 1;
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 18px;
    border-radius: 8px;
    background: #0F1110;
    padding: 0 20px 0 48px;
    letter-spacing: -0.04em;
    border: 1px solid #202322;
}

#global .theme_settings_content .settings_content form input::placeholder{
    opacity: 0.4;
    color: #FFFFFF;
}

#global .theme_settings_content .settings_content form button {
    top: 50%;
    left: 16px;
    z-index: 2;
    opacity: 0.4;
    cursor: pointer;
    position: absolute;
    transform: translate(0, -50%);
    transition: all 0.3s;
}

#global .theme_settings_content .settings_content form button:hover{
    opacity: 1;
}

#global .theme_settings_content .settings_content .tabs_nav_content{

}

#global .theme_settings_content .settings_content .tabs_nav{
    display: flex;
    margin-bottom: 16px;
}

#global .theme_settings_content .settings_content .tabs_nav .tabs_item{
    width: 50%;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 18px;
    text-align: center;
    position: relative;
    padding: 7px 10px 8px;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #202322;
    transition: all 0.3s;
}

#global .theme_settings_content .settings_content .tabs_nav .tabs_item::after{
    content: '';
    left: 0;
    width: 0;
    height: 1px;
    bottom: -1px;
    position: absolute;
    background: #B4F573;
    transition: all 0.3s;
}

#global .theme_settings_content .settings_content .tabs_nav .tabs_item:hover{
    color: #B4F573;
}

#global .theme_settings_content .settings_content .tabs_nav .tabs_item:hover::after{
    width: 100%;
}

#global .theme_settings_content .settings_content .tabs_nav .tabs_item.active{
    color: #B4F573;
}

#global .theme_settings_content .settings_content .tabs_nav .tabs_item.active::after{
    width: 100%;
}

#global .theme_settings_content .settings_content .tabs_nav_content{
    display: none;
}

#global .theme_settings_content .settings_content .tabs_nav_content.active{
    display: block;
}

#global .theme_settings_content .settings_content .tabs_nav_content .tone_items{
    display: flex;
    flex-wrap: wrap;
}

#global .theme_settings_content .settings_content .tabs_nav_content .tone_items .tone_item{
    width: 50%;
    cursor: pointer;
    margin-bottom: 5px;
    position: relative;
    padding: 10px 46px 10px 16px;
}

#global .theme_settings_content .settings_content .tabs_nav_content .tone_items .tone_item.active::after{
    content: '';
    top: 50%;
    right: 20px;
    width: 16px;
    height: 16px;
    position: absolute;
    background: url('../images/tone_item_check.svg') no-repeat 50% 50%;
    background-size: cover;
    transform: translate(0, -50%);
}

#global .theme_settings_content .settings_content .tabs_nav_content .tone_items .tone_item img{
    top: 50%;
    left: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    transform: translate(0, -50%);
}

#global .theme_settings_content .settings_content .tabs_nav_content .tone_items .tone_item h4{
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 18px;
    margin-left: 56px;
    margin-bottom: 5px;
    letter-spacing: -0.04em;
}

#global .theme_settings_content .settings_content .tabs_nav_content .tone_items .tone_item p{
    opacity: 0.4;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 56px;
    line-height: 15px;
    letter-spacing: -0.04em;
}

#global .theme_settings_content .settings_content .tabs_nav_content .style_items {
    margin: 0 16px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#global .theme_settings_content .settings_content .tabs_nav_content .style_items .style_item{
    width: 49%;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    margin-bottom: 16px;
    background: #202322;
    padding: 8px 30px 15px 8px;
    border: 1px solid #202322;
    transition: all 0.3s;
}

#global .theme_settings_content .settings_content .tabs_nav_content .style_items .style_item::after{
    content: '';
    top: 10px;
    opacity: 0;
    right: 10px;
    width: 16px;
    height: 16px;
    position: absolute;
    background: url('../images/tone_item_check.svg') no-repeat 50% 50%;
    background-size: cover;
    transition: all 0.3s;
}

#global .theme_settings_content .settings_content .tabs_nav_content .style_items .style_item:hover{
    border: 1px solid #B4F573;
}

#global .theme_settings_content .settings_content .tabs_nav_content .style_items .style_item h4{
    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 32px;
    margin-bottom: 5px;
    letter-spacing: -0.04em;
}

#global .theme_settings_content .settings_content .tabs_nav_content .style_items .style_item p{
    opacity: 0.4;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    overflow: hidden;
    line-height: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: -0.04em;
}

#global .theme_settings_content .settings_content .tabs_nav_content .style_items .style_item.active{
    border: 1px solid #B4F573;
}

#global .theme_settings_content .settings_content .tabs_nav_content .style_items .style_item.active::after{
    opacity: 1;
}

#global .theme_settings_content .settings_content .apply{
    width: auto;
    height: 48px;
    font-size: 14px;
    display: flex;
    font-weight: 600;
    color: #0F1110;
    line-height: 18px;
    padding: 5px 16px;
    border-radius: 8px;
    align-items: center;
    background: #B4F573;
    margin: 10px 16px 24px;
    letter-spacing: -0.04em;
    justify-content: center;
    border: 1px solid #B4F573;
    transition: all 0.3s;
}

#global .theme_settings_content .settings_content .apply:hover{
    color: #B4F573;
    background: transparent;
}

#global .button_wait{
    top: 10px;
    right: -40px;
    position: absolute;
}

@media (min-width: 1900px) {

    .header_global .logo {
        min-width: 340px;
        max-width: 340px;
    }

    #global .dark.hidden.flex-shrink-0.bg-gray-900 {
        min-width: 340px;
        max-width: 340px;
    }

    #global .flex.h-full.max-w-full.flex-1.flex-col.active {
        padding-right: 340px;
    }

    #global .menu_content {
        width: 340px;
    }

}

.md\:gap-2{
    align-items: center;
    justify-content: space-between;
}

#global .latest_google{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#global .latest_google .latest_google_content{
    display: flex;
    align-items: center;
}

#global .latest_google .latest_data{
    display: flex;
    padding: 10px 0;
    margin-right: 24px;
    align-items: center;
}

#global .latest_google .latest_data img{
    width: 16px;
    display: block;
    margin-right: 6px;
}

#global .latest_google .latest_data p{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 18px;
    margin-right: 8px;
    letter-spacing: -0.04em;
}

#global .latest_google .tone{
    display: flex;
    padding: 10px 0;
    margin-right: 24px;
    align-items: center;
}

#global .latest_google .tone:hover ul li ul{
    display: block;
}

#global .latest_google .tone:hover ul::after {
    transform: translate(0, -50%) rotate(180deg);
}

#global .latest_google .tone p{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 18px;
    margin-right: 4px;
    letter-spacing: -0.04em;
}

#global .latest_google .tone ul{
    position: relative;
    border-radius: 8px;
    background: #201C2C;
    padding: 4px 32px 4px 8px;
}

#global .latest_google .tone ul::after {
    content: '';
    top: 50%;
    right: 6px;
    width: 16px;
    height: 16px;
    position: absolute;
    background: url('../images/CaretDown.svg') no-repeat 50% 50%;
    background-size: cover;
    transform: translate(0, -50%);
    transition: all 0.3s;
}

#global .latest_google .tone ul li{
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    color: #B795FF;
    line-height: 18px;
    letter-spacing: -0.04em;
}

#global .latest_google .tone ul li ul{
    left: 0;
    width: 100%;
    bottom: 30px;
    display: none;
    padding: 6px 8px;
    position: absolute;
}

#global .latest_google .tone ul li ul::after{
    display: none;
}

#global .latest_google .tone ul li ul li{
    color: #FFFFFF;
    margin-bottom: 4px;
    transition: all 0.4s;
}

#global .latest_google .tone ul li ul li:hover{
    color: #B795FF;
}

#global .latest_google .tone ul li ul li:last-child{
    margin-bottom: 0;
}

#global .latest_google .style{
    display: flex;
    margin-right: 24px;
    align-items: center;
    padding: 10px 0;
}

#global .latest_google .style:hover ul li ul{
    display: block;
}

#global .latest_google .style:hover ul::after {
    transform: translate(0, -50%) rotate(180deg);
}

#global .latest_google .style p{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 18px;
    margin-right: 4px;
    letter-spacing: -0.04em;
}

#global .latest_google .style ul{
    position: relative;
    border-radius: 8px;
    background: #1C2C1F;
    padding: 4px 32px 4px 8px;
}

#global .latest_google .style ul::after {
    content: '';
    top: 50%;
    right: 6px;
    width: 16px;
    height: 16px;
    position: absolute;
    background: url('../images/CaretDown.svg') no-repeat 50% 50%;
    background-size: cover;
    transform: translate(0, -50%);
    transition: all 0.3s;
}

#global .latest_google .style ul li{
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    color: #97FF95;
    line-height: 18px;
    letter-spacing: -0.04em;
}

#global .latest_google .style ul li ul{
    left: 0;
    width: 100%;
    bottom: 30px;
    display: none;
    padding: 6px 8px;
    position: absolute;
}

#global .latest_google .style ul li ul::after{
    display: none;
}

#global .latest_google .style ul li ul li{
    color: #FFFFFF;
    margin-bottom: 4px;
    transition: all 0.4s;
}

#global .latest_google .style ul li ul li:hover{
    color: #97FF95;
}

#global .latest_google .style ul li ul li:last-child{
    margin-bottom: 0;
}


#global .latest_google .follow_up{
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#global .latest_google .follow_up:hover ul li ul{
    display: block;
}

#global .latest_google .follow_up:hover ul::after {
    transform: translate(0, -50%);
}

#global .latest_google .follow_up p{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 18px;
    margin-right: 4px;
    letter-spacing: -0.04em;
}

#global .latest_google .follow_up ul{
    position: relative;
    border-radius: 8px;
    background: #171918;
    padding: 11px 40px 11px 16px;
}

#global .latest_google .follow_up ul::after {
    content: '';
    top: 50%;
    right: 12px;
    width: 16px;
    height: 16px;
    position: absolute;
    background: url('../images/follow_up_CaretDown.svg') no-repeat 50% 50%;
    background-size: cover;
    transform: translate(0, -50%) rotate(180deg);
    transition: all 0.3s;
}

#global .latest_google .follow_up ul li{
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 18px;
    letter-spacing: -0.04em;
}

#global .latest_google .follow_up ul li ul{
    right: 0;
    padding: 0;
    bottom: 48px;
    width: 240px;
    display: none;
    overflow: hidden;
    position: absolute;
}

#global .latest_google .follow_up ul li ul::after{
    display: none;
}

#global .latest_google .follow_up ul li ul li{
    padding: 16px;
    color: #FFFFFF;
    font-weight: 500;
    transition: all 0.4s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

#global .latest_google .follow_up ul li ul li:last-child{
    border-bottom: none;
}

#global .latest_google .follow_up ul li ul li:hover{
    color: #FFFFFF;
    background: #343541;
}

#global .latest_google .follow_up ul li ul li:last-child{
    margin-bottom: 0;
}





#global.textury .flex.overflow-hidden.relative{
    background: url('../images/textury_bg.png') no-repeat 50% 50%;
    background-size: cover;
}

#global.textury .flex .react-scroll-to-bottom--css-vobxp-79elbk.h-full.dark\:bg-gray-800 {
    background: transparent;
}

#global.textury .flex .flex-col.items-center.text-sm.dark\:bg-gray-800{
    background: transparent;
}

#global.textury .flex .dark\:bg-gray-800 {
    background: transparent;
}

#global.textury .flex .bg-gray-50 {
    background: transparent;
}

#global.textury .relative.transition-width .w-full.text-gray-800.dark\:bg-gray-800 .flex.flex-grow.flex-col.gap-3 {
    background: #E3EEF1;
}

#global.textury .relative.transition-width .w-full.text-gray-800 .flex.flex-grow.flex-col.gap-3 {
    background: rgba(0, 0, 0, 0.64);
    backdrop-filter: blur(6px);
}


#global.blue_ocean .flex.overflow-hidden.relative{
    background: url('../images/blue_ocean.png') no-repeat 50% 50%;
    background-size: cover;
}

#global.blue_ocean .flex .react-scroll-to-bottom--css-vobxp-79elbk.h-full.dark\:bg-gray-800 {
    background: transparent;
}

#global.blue_ocean .flex .flex-col.items-center.text-sm.dark\:bg-gray-800{
    background: transparent;
}

#global.blue_ocean .flex .dark\:bg-gray-800 {
    background: transparent;
}

#global.blue_ocean .flex .bg-gray-50 {
    background: transparent;
}

#global.blue_ocean .relative.transition-width .w-full.text-gray-800.dark\:bg-gray-800 .flex.flex-grow.flex-col.gap-3 {
    background: #F1DAFF;
}

#global.blue_ocean .relative.transition-width .w-full.text-gray-800 .flex.flex-grow.flex-col.gap-3 {
    background: #442D75;
}


#global.lime_vulcanic .flex.overflow-hidden.relative{
    background: url('../images/lime_vulcanic.png') no-repeat 50% 50%;
    background-size: cover;
}

#global.lime_vulcanic .flex .react-scroll-to-bottom--css-vobxp-79elbk.h-full.dark\:bg-gray-800 {
    background: transparent;
}

#global.lime_vulcanic .flex .flex-col.items-center.text-sm.dark\:bg-gray-800{
    background: transparent;
}

#global.lime_vulcanic .flex .dark\:bg-gray-800 {
    background: transparent;
}

#global.lime_vulcanic .flex .bg-gray-50 {
    background: transparent;
}

#global.lime_vulcanic .relative.transition-width .w-full.text-gray-800.dark\:bg-gray-800 .flex.flex-grow.flex-col.gap-3 {
    color: #fff;
    background: #003BD3;
}

#global.lime_vulcanic .relative.transition-width .w-full.text-gray-800 .flex.flex-grow.flex-col.gap-3 {
    background: rgba(0, 0, 0, 0.64);
    backdrop-filter: blur(12px);
}


#global.colorful_gradient .flex.overflow-hidden.relative{
    background: url('../images/colorful_gradient.png') no-repeat 50% 50%;
    background-size: cover;
}

#global.colorful_gradient .flex .react-scroll-to-bottom--css-vobxp-79elbk.h-full.dark\:bg-gray-800 {
    background: transparent;
}

#global.colorful_gradient .flex .flex-col.items-center.text-sm.dark\:bg-gray-800{
    background: transparent;
}

#global.colorful_gradient .flex .dark\:bg-gray-800 {
    background: transparent;
}

#global.colorful_gradient .flex .bg-gray-50 {
    background: transparent;
}

#global.colorful_gradient .relative.transition-width .w-full.text-gray-800.dark\:bg-gray-800 .flex.flex-grow.flex-col.gap-3 {
    color: #000000;
    background: #FFFACF;
}

#global.colorful_gradient .relative.transition-width .w-full.text-gray-800 .flex.flex-grow.flex-col.gap-3 {
    background: #000000;
    backdrop-filter: blur(12px);
}










/* Вадим */

ul[id^="headlessui-listbox-options"] li {
    height: 30px !important;
    background: gray !important;
    backdrop-filter: blur(30px) !important;
}

#global.colorful_gradient ul[id^="headlessui-listbox-options"] li {
    height: 30px !important;
    background: rgba(0, 0, 0, 0.64) !important;
    backdrop-filter: blur(30px) !important;
}

#global.lime_vulcanic ul[id^="headlessui-listbox-options"] li {
    height: 30px !important;
    background: rgba(0, 0, 0, 0.64) !important;
    backdrop-filter: blur(30px) !important;
}

#global.blue_ocean ul[id^="headlessui-listbox-options"] li {
    height: 30px !important;
    background: rgba(0, 0, 0, 0.64) !important;
    backdrop-filter: blur(30px) !important;
}

#global.textury ul[id^="headlessui-listbox-options"] li {
    height: 30px !important;
    background: rgba(0, 0, 0, 0.64) !important;
    backdrop-filter: blur(30px) !important;
}

#__next>div.overflow-hidden.w-full.h-full.relative.flex>div.flex.h-full.max-w-full.flex-1.flex-col>main>div.flex-1.overflow-hidden>div>div>div>div.group.w-full.text-gray-800.dark\:text-gray-100.border-b.border-black\/10.dark\:border-gray-900\/50.bg-gray-50.dark\:bg-\[\#444654\]>div>div.relative.flex.w-\[calc\(100\%-50px\)\].flex-col.gap-1.md\:gap-3.lg\:w-\[calc\(100\%-115px\)\]>div.flex.flex-grow.flex-col.gap-3 {
    background: rgba(0, 0, 0, 0.64) !important;
    backdrop-filter: blur(30px) !important;
}

.text-base {
    /* padding-right: 0 !important; */
}

#headlessui-listbox-button-\:r0\: {
    margin-top: 40px !important;
}

#global .flex.overflow-hidden.relative,
#global.textury .flex.overflow-hidden.relative,
#global.blue_ocean .flex.overflow-hidden.relative,
#global.lime_vulcanic .flex.overflow-hidden.relative,
#global.colorful_gradient .flex.overflow-hidden.relative {
    background: var(--mainbg) no-repeat 50% 50%;
    background-size: cover;
}

#global .theme_settings_content .settings_content .tabs_nav_content .tone_items .tone_item.active::after {
    background: var(--checkIcon) no-repeat 50% 50%;
}

#global .menu_content .categories li::after {
    background: var(--icon) no-repeat 50% 50%;
    background-size: cover;
}

#global .menu_content .categories .items li::after {
    content: none;
}

#global .menu_content .categories .i-category li+.items {
    display: none;
}

#global .menu_content .categories .i-category li.active+.items {
    display: block;
}

#global .menu_content .i-big-category+ul {
    display: none;
}

#global .menu_content .i-big-category.active+ul {
    display: block;
}